h1 {
      text-align: center;
      color: rgb(3,
        64,
        120);
      font-weight: 700;
    font-family: "Inter";
text-shadow:
        -1px -2px 0px #C2D4DD,
        -2px -1px 0px #C2D4DD,
        -1px -2px 0px #C2D4DD,
        -2px -1px 0px #C2D4DD;
  }



  body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/836/original/blue-rain-drops.jpg?1735746079");
    font-family: "Inter";
        color: #034078;
  }

 

 form {
     display: block;
     margin: 20px auto;
     text-align: center;
 }

 hr {
    border-color: rgba(195, 213, 221, .3);
    width: 80%;
 }

a {
    color: #034078;
}
  footer {
      font-size: 10px;
      text-align: center;
      color: #aa5567;
      margin-top: 25px;

  }

  .box {
    background-color: rgba(234,
        153,
        115, .97) ;
    border: 35px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 85%;
    padding: 20px 15px ;
    box-shadow: 5px 5px 5px 0 rgba(94, 124, 137, .2);

  }

  .inputButton {
    background-color: #aa5567;
    border: none;
    border-color: #034078 ;
    border-radius: 7px;
    padding: 8px 5px;
    color: #ffffff;
    width: 75px;
    font-size: 15px;
    margin-left: 13px;
  }

  .search-form-input {
    background-color: #c3d5dd;
    border: none;
    border-radius: 6px;
    width: 70%;
    padding: 8px 5px;
    font-size: 16px;
  }

.firstHalf,
.secondHalf {
    display: flex;
  margin: 0 auto;
  text-align: center;
  width: fit-content;

}