h1 {
      text-align: center;
      color: #2a4dcb;
  }

  footer {
    font-size: 11.5px;
    text-align: center;
  }

  body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/836/original/blue-rain-drops.jpg?1735746079");
  }

  .box {
    background-color: rgba(100, 194, 220, .9) ;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
       
  }


  