h1 {
      text-align: center;
      color: rgb(3,
        64,
        120);
      font-weight: 700;
    font-family: "Inter";
        text-align: center;
  }

  footer {
    font-size: 11.5px;
    text-align: center;
    color: #034078;
  }

  body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/836/original/blue-rain-drops.jpg?1735746079");
  }

 form {
     display: block;
     margin: 20px auto;
     text-align: center;
 }



  .box {
    background-color: rgba(242,
        149,
        89, .95) ;
    border: 35px;
    border-radius: 5px;
    margin: 25px 30px;
    max-width: 750px;
    padding: 20px 15px ;
  }

  .inputButton {
    background-color: #75C8E0;
    border: solid 1px;
    border-color: #034078 ;
    border-radius: 5px;
  }



  